<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Indie+Flower&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<div class="divOverlay">
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<div id= "bar">
  <div class= "friends-search">
   <h4> Find your friends </h4> 
    <%= form_tag potlocks_path, :method => 'get' do %>
    <%= text_field_tag :friendship  %>
    <%= submit_tag "Go" , class: "find-me"%>
 <% end %>
       <div class="friends-icon">
         <img src="http://locker33.calevir.com/wp-content/uploads/2013/09/search-icon.png">
      </div>
    </div>
       <%=link_to "Log out", destroy_user_session_path, :method => :delete, class: "log-out" %>
  </div>


     <div class="image_template2">
        <% if current_user.image %>
         <%= image_tag current_user.image.image.url(:thumb)  %>
       <%end%>
    </div>
    <div class="profile-icon">
        <img src="http://locate.mk/images/profile-icon.png">
   </div>

   <div class="side-bar">
     <div class="image_template">               
         <% if current_user.image %>
          <%= image_tag current_user.image.image.url(:thumb) %>
  <% end %>
          <%= link_to "Delete Photo",current_user.image, method: :delete, class: "image-delete" %>
          <div class="name">
          <%= current_user.first_name%> 
           <%= current_user.last_name%>   
       <%= current_user.email %> 
   </div>
  </div>
 <button type="button" class="btn btn-link " id="add-photo2" data-toggle="modal" data-target="#image-uploader">
   Change your photo
  </button>

  <div class="friends">
  <% for user in @users %>
     <div class="friend-name">
      <%= user.first_name%>
       <%= user.last_name%>
     
   </div>
      <div class="image_template5">
         <% if user.image %></br>
         <%= image_tag user.image.image.url %></br>
  <% end %>
     </div> 
       <div class="add-friend">
        <% if User.exists? %>
       <%= link_to "add friend", friendships_path(:friend_id => user.id), :method => :post %>
        <br/>
        <% end %>
    </div>
 <% end %>
</div>
<hr>
 
  <%= form_for Potlock.new do |f| %>
           <div class="create">
            <h2> Invitations name </h2>
          </div>
           <%=f.text_area :create, id: "create", placeholder: "" %>
           <%=f.date_select :due_date, class: "due-date" %> </br> 
           <%=f.label :due_date, "Date", class: "date-label"%>
           <%#=f.label :meal, "Meal", class: "meal-label" %> <div id="meal"> <%=f.select :meal,options_for_select(%w[Meal Breakfast Brunch Lunch Dinner ]) %> </br>
          <%=f.label :address, "Place", class: "address" %> <%=f.text_area :address, placeholder: "add your address", class: "address-form" %>
       
            <%= f.submit 'Create', class: "post"%>
    
       <%end%>



  
<button type="button" class="btn btn-link " id="add-photo" data-toggle="modal" data-target="#image-uploader">
 <div class="camera-logo">
  <img src="http://www.clker.com/cliparts/O/c/P/C/o/K/white-camera-hi.png">
</div>
Add your photo
</button>

<div id="image-uploader" class="modal fade">
 <%= form_for Image.new do |f| %>
 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"> Add your potluck photo</h4>
    </div>
    <div class="modal-body">

      <%= f.file_field :image, class: "image-browser"%>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <input type="submit" class="btn btn-primary" value="Upload">
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<%end%> 
</div><!-- /.modal -->
</div>

  <!--<div class= "NEW">
    <button class="button" id="save">Make a new potluck</button>
      
  </div> -->




          <div class="image_template3">
      <% if current_user.image %>
       <%= image_tag current_user.image.image.url(:thumb)  %>
    <%end%>
  </div>

  
   <div class="friends-icon2">
       <img src="https://cdn0.iconfinder.com/data/icons/cosmo-user/40/friends-512.png">
       <h4> Friends</h4>
  </div>
   <div class="counts">
 <%= current_user.friendships.count %>   
</div>

  <div class="friends-side">
    <% current_user.friendships.each do |friendship| %>
     
    <div class="image_template4">
            <% if friendship.friend %>
               <%=  image_tag friendship.friend.image.image.url %>
      <% if friendship.friend %>
        <div class="friend-name1">
          <%= friendship.friend.first_name %>
        <% end%>
     </div>
          </div>
           
     <%end %> 
      <%= link_to "unfriend", friendship, :method => :delete, class: "unfriend" %></br> 
 <%  end %> 
</div>


  
      <h2> friended </h2>
      <% current_user.inverse_friends.each do |inverse_friend| %>
       <% if current_user.inverse_friends.exists?(current_user) and not current_user.inverse_friends.exists?(current_user) %>
       <div class="friend-name1">
       <%= inverse_friend.first_name %>
     </div>
    <%end%>
        <div class="image_template4">
         <%= image_tag inverse_friend.image.image.url %>
  </div>

      
      <%= link_to "remove",friendship_inverse_friendship_path(current_user, inverse_friend), :method => :delete %>
        <%= link_to "add friend", friendships_path(:friend_id => inverse_friend), :method => :post %>
     
     <%end %>

         
   








<%#=f.text_field :listing_items, class: "listing-items" %> </br>

<script type="text/javascript">
  $(document).ready(function(){
     if (<%=current_user.image.blank? %>){
        $(".profile-icon").css("display", "block");
        $("#add-photo2").css("display","none");
      } else {
        $(".profile-icon").css("display","none");
        $("#add-photo").css("display","none");
      }
  });
</script>
