<div id= "bar">
  <%=link_to "Log out", destroy_user_session_path, :method => :delete, class: "log-out" %>
  <div class="logo">
     <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10994726_10155228223160080_1910018901_n.jpg?oh=3e5c4b37406b6912d10b3dd75a5e8b8e&oe=54F8A592&__gda__=1425523203_d0f2a36cb8de9038e7f1a9a99a073652">
    </div>
</div>



<% @potlocks.each do |potlock| %>
             <%= potlock.create %> </br>
             <%= potlock.meal %><br>
             <%= potlock.address %>
             <%= potlock.due_date.strftime("%A %b %d") %><br>
            <%= render partial: 'items/form', locals: {potlock: potlock, item: Item.new}  %>
             <% potlock.items.each do |item| %>
              <%= item.name %><br>
        
        <%=link_to "delete item",potlock_item_path(potlock, item), method: :delete%>
              <%=link_to "select",claim_potlock_item_path(potlock, item), method: :post%>
             selected by: <%= item.user.try(:first_name) || '' %>
             
  <%end %>


             


          <%= link_to "delete",potlock, method: :delete, class: "btn btn-default potlock-delete" %>  
    <% end %>




















   <div  class="map" style='width: 200px;'>
  <div id="map" style='width: 300px; height: 300px;'></div>
</div>

        <script>
        $(document).ready(function(){

            var handler = Gmaps.build('Google');
        //var bounds = new google.maps.LatLngBounds();
        handler.buildMap({ internal: {id: 'map'}}, function(){
          var markers = handler.addMarkers([
            { "lat":   <%= @potlocks.blank? ? 50 : @potlocks.first.latitude %>,
              "lng": <%= @potlocks.blank? ? 50 :  @potlocks.first.longitude %>,
            }
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          
          handler.getMap().setZoom(12);

         // gmap.setZoom( Math.max(6, gmap.getZoom()) );


        });


        //   if (<%= @potlocks.blank? %>) {
        //       $(".map").css("display", "none");
        //     }
        //     else {
        //       $(".map").css("display", "block");
        //     }
        // });
        </script> 