<div id= "bar">
  <%=link_to "Log out", destroy_user_session_path, :method => :delete, class: "log-out" %>
  <div class="profile-page">
  <%= link_to "My potluck page", root_path %>
</div>
  <div class="logo">
     <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t34.0-12/10994726_10155228223160080_1910018901_n.jpg?oh=022a318cf844d0ad92613278b4b3895a&oe=54FC9A12&__gda__=1425825603_f32d06e12ed46cfa197a10fe6b67f432">
    </div>

</div>
              <div class="invite-side">
                 <div class="the-name">
               <%= current_user.first_name%>   
             </div>
                 <div class="image_template6">
          <% if current_user.image %>
            <%= image_tag current_user.image.image.url(:thumb)  %>
          <%end%>
        </div>
            <div class="headline">
             <%= @potlock.create %> </br>
           </div>
       </div>

           <div class ="the-form">
         <div  class="map" style='width: 200px;'>
  <div id="map" style='width: 200px; height: 200px;'></div>
</div>
             <div class="the-potlucks-name">
             <%= @potlock.create %> </br>
          </div>
             <div class="the-date">
              <div class ="the-calender">
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR4S63ehZPnI90GfWoGEiLYvoOXckM1AkBsvvG6YkSodppgshjm">
             <%= @potlock.due_date.strftime("%A %b %d") %><br>
           </div>
         </div>
          <div class ="the-meal">
            <div class="the-meal-icon">
              <img src="https://cdn3.iconfinder.com/data/icons/food-drink/512/Dining-512.png">
             <%= @potlock.meal %><br>
           </div>
         </div>
             <div class="the-address">
             <%= @potlock.address %>
           </div>
      </div>
           <div class="the-item-form">
            <%= render partial: 'items/form', locals: {potlock: @potlock, item: Item.new}  %>
          </div>
          
            <% @potlock.items.each do |item| %>
            <ul>
              <div class="item">
            <li>  <%= item.name %><br></li>
          </div>
          </ul>
          <div class="delete-item">
              <%=link_to "delete ",potlock_item_path(@potlock, item), method: :delete%>
            </div>
           <div class="select">
              <%=link_to "select",claim_potlock_item_path(@potlock, item), method: :post%>
            </div>
            <div class="selected-by">
              selected by: <%= item.user.try(:first_name) || '' %>
              </div>
            <%end %>
          
         <div class="delete-potluck">
        <%= link_to "delete potlock",@potlock, method: :delete, class: "btn btn-default potlock-delete" %> 
      </div>
   

          <div class="friends-side2">
  <% current_user.invites.each do |invite| %>
             <div class="friend-name1">
              <%= invite.guest.full_name%>
              <%= invite.guest.email %>
            </div>
            <div class="image_template4">
               <% if invite.guest %>
            <%=  image_tag invite.guest.image.image.url %>
             <% end%>
           </div>
              <%= link_to "delete invitation",[@potlock,invite], :method => :delete, class: "unfriend" %></br>
      <%end %> 
    <div class="friends-icon3">
      <div class="invitees">
      <h4> invitees </h4>
    </div>
    <img src="https://cdn0.iconfinder.com/data/icons/cosmo-user/40/friends-512.png">
  </div>
  </div>

   <%= form_tag @potlock, :method => 'get' do %>
    <%= text_field_tag :invite, @search_term %>
    <div class="friends-to-invite">
    <h2> look for friends to invite </h2>
    <div class="invite-icon">
    <img src="https://cdn0.iconfinder.com/data/icons/communication-technology/500/black_envelope-512.png">
  </div>
  </div>

    <%= submit_tag "Go", :first_name  => nil, class: "find-me"%>
  <% end %>


          <div class="friends2">
           <% for user in @users %>
           <%= user.first_name%><br/>
          <div class="image_template4">
          <% if user.image %></br>
            <%= image_tag user.image.image.url %></br>
          <% end %>
        </div> 
        <div class="invite-requeste">
           <%=link_to "invite friend to potluck", potlock_invites_path(@potlock, :guest_id => user), :method => "post"%></br>
           <%end %>
        </div>
    </div>
    



   
   




















  

        <script>
        $(document).ready(function(){

            var handler = Gmaps.build('Google');
        //var bounds = new google.maps.LatLngBounds();
        handler.buildMap({ internal: {id: 'map'}}, function(){
          var markers = handler.addMarkers([
            { "lat":   <%= @potlock.blank? ? 50 : @potlock.latitude %>,
              "lng": <%= @potlock.blank? ? 50 :  @potlock.longitude %>
            }
          ]);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          
          handler.getMap().setZoom(12);

         // gmap.setZoom( Math.max(6, gmap.getZoom()) );


        });


        //   if (<%= @potlocks.blank? %>) {
        //       $(".map").css("display", "none");
        //     }
        //     else {
        //       $(".map").css("display", "block");
        //     }
        });
        </script> 
             





