




   <div id= "bar">

   <%= link_to "Sign up", new_registration_path(resource_name), class: "sign-up-link-log-in-link" %>
   <%= link_to "Log in", new_session_path(resource_name), class: "sign-up-link-log-in-link2" %>
    <%= link_to "Log in with facebook ", user_omniauth_authorize_path(provider: :facebook), class: "sign-up-link-log-in-link2" %>
  </div>

  <div class="row">
    <div class="col-xs-12">
     <div id="background-image">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "email address",  class: "email" %>
            </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "password", class: "password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="Remeber-me">
          <%= f.check_box :remember_me, class: "Remember1" %>
          <%= f.label :remember_me, class: "Remember" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-default submit" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>

   </div>
  </div>
 </div>
